.head {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: url("../images/hlegal-symbol.svg") no-repeat center/auto 100%;

  @media screen and (min-width: $breakpoint-md) {
    background-size: cover;
  }
  @media screen and (min-width: $breakpoint-lg) {
    background-size: auto 100%;
  }

  &__title {
    @include title($basic-white);
    @include flex-center;
    text-align: center;
  }

  &__link {
    width: 42px;
    height: 42px;
    border: 1px solid $basic-white;
    border-radius: $radius-rounded;
    position: relative;
    margin: 0 auto 30px;

    &:hover {
      border-color: $accent-color;
      &::before {
        border-color: $accent-color;
      }
    }

    &::before {
      position: absolute;
      content: "";
      top: 10px;
      left: 13px;
      width: 14px;
      height: 14px;
      border-bottom: 2px solid $basic-white;
      border-left: 2px solid $basic-white;
      transform: rotate(-45deg);
    }
  }
}
.header {
  padding-bottom: 10px;

  @media screen and (min-width: $breakpoint-md) {
    padding: 50px 0 10px;
  }

  &__container {
    @media screen and (min-width: $breakpoint-lg) {
      position: relative;
    }
  }

  &__inner {
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: rgba($bg-color, 0.2);
    margin: 0 -30px 15px;

    @media screen and (min-width: $breakpoint-md) {
      margin: 0 0 30px;
      padding: 0;
      background: transparent;
      justify-content: flex-start;
      gap: 18px;
    }

    @media screen and (min-width: $breakpoint-lg) {
      justify-content: flex-end;
      margin-bottom: 15px;
    }
  }

  &__langs {
    display: flex;
    position: relative;
    @media screen and (min-width: $breakpoint-md) {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background: $separator-color;
        border-radius: $radius-rounded;
      }
    }
  }

  &__langs-link {
    color: $basic-white;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: $radius-sm;
    text-transform: uppercase;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    &.active {
      background: $accent-color;
    }
  }

  &__address {
    display: none;
    color: $basic-white;

    @media screen and (min-width: $breakpoint-md) {
      display: block;
      position: relative;
      font-weight: 400;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background: $separator-color;
        border-radius: $radius-rounded;
      }
    }
  }

  &__phone {
    color: $basic-white;
    text-decoration: none;
    position: relative;

    @media screen and (min-width: $breakpoint-md) {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background: $separator-color;
        border-radius: $radius-rounded;
        pointer-events: none;
      }
    }
  }

  &__social {
    display: none;

    &:hover {
      fill: $accent-color;
    }

    @media screen and (min-width: $breakpoint-md) {
      display: block;
      line-height: 10px;
    }
  }

  &__social-icon {
    @include base-svg-sm($basic-white);
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      margin-bottom: 0;
    }
  }

  &__box-logo {
    color: $basic-white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMjYiIHZpZXdCb3g9IjAgMCAxMiAyNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04LjcyODI3IDBIMTEuOTUwNUwzLjU1NTc0IDI2SDAuMzMzNDk2TDguNzI4MjcgMFoiIGZpbGw9IiNGMDE0NUEiLz4KPC9zdmc+Cg==");
    background-repeat: no-repeat;
    background-position: 75px 0;
    background-size: auto 26px;

    @media screen and (min-width: $breakpoint-md) {
      background-position: 135px 0;
      background-size: auto 47px;
      gap: 30px;
    }

    img {
      width: 70px;
      height: 32px;

      @media screen and (min-width: $breakpoint-md) {
        width: 130px;
        height: 60px;
      }
    }

    span {
      @media screen and (min-width: $breakpoint-md) {
        font-size: 36px;
      }
    }
  }

  &__box-burger {
    width: 20px;
    height: 16px;
    cursor: pointer;
    position: relative;

    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }

    &::before,
    &::after,
    span {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: $basic-white;
    }
    &::after {
      top: auto;
      bottom: 0;
    }
    span {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__nav {
    position: fixed;
    bottom: -100%;
    left: 8px;
    right: 8px;
    background: $basic-white;
    border-radius: $radius-md $radius-md 0 0;
    padding: 12px;
    transition: 0.3s linear;
    z-index: 1;

    &.active {
      bottom: 0;
    }

    @media screen and (min-width: $breakpoint-md) {
      position: static;
      background: transparent;
      padding: 0;
      border-radius: 0;
    }
  }

  &__nav-close {
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin: 0 0 20px auto;
    position: relative;

    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 10px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $close-color;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &__nav-list {
    @media screen and (min-width: $breakpoint-md) {
      display: flex;
      gap: 15px;
    }

    @media screen and (min-width: $breakpoint-lg) {
      justify-content: flex-end;
    }
  }

  &__nav-item {
    text-align: center;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 0;
    }
  }

  &__nav-link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: $regular-color;
    border-radius: $radius-md;
    display: block;
    background: $bg-color;
    padding: 7px;
    position: relative;

    @media screen and (min-width: $breakpoint-md) {
      border-radius: 0;
      background: transparent;
      color: $basic-white;
      font-size: 16px;
      padding: 0;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background: $basic-white;
        bottom: -5px;
        right: 0;
        left: 0;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    &.active {
      color: $accent-color;
      @media screen and (min-width: $breakpoint-md) {
        padding-bottom: 3px;
        border-bottom: 2px solid $accent-color;
        &::before {
          width: 0;
        }
      }
    }

    &:hover {
      background: $bg-alt-color;
      @media screen and (min-width: $breakpoint-md) {
        background: transparent;
      }
    }

    &:active {
      background: $separator-color;
      @media screen and (min-width: $breakpoint-md) {
        background: transparent;
      }
    }
  }
}

.header--margin {
  margin-bottom: 30px;
  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 60px;
  }
}

.header__inner--grey {
  background: $bg-color;
}

.langs-link--grey {
  color: $text-color;
  &:hover {
    background: $bg-color;
  }
}

.header-icon--grey {
  fill: $text-color;
}

.address--grey {
  color: $text-color;
}

.phone--grey {
  color: $text-color;
}

.nav-link--blue {
  @media screen and (min-width: $breakpoint-md) {
    color: $regular-color;
    &::before {
      background: $regular-color;
    }
  }
}

.logo-blue {
  color: $main-color;
}

.burger--grey {
  &::before,
  &::after,
  span {
    background: $main-color;
  }
}