.services {
  &__link {
    display: inline-block;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $regular-color;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 10px;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: 0;
      border-bottom: 2px solid $regular-color;
      border-right: 2px solid $regular-color;
      width: 7px;
      height: 7px;
      transform: rotate(-45deg);
    }

    &:hover {
      color: $accent-color;
      &::before {
        border-color: $accent-color;
      }
    }
  }

  &__title {
    @include subtitle(transparent);
    @include main-gradient-text($gradient-red-text);
    margin-bottom: 30px;

    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 60px;
      @include title(transparent);
    }
  }

  &__list {
    padding-bottom: 60px;

    @media screen and (min-width: $breakpoint-md) {
      display: flex;
      flex-wrap: wrap;
      gap: 60px;
    }
  }

  &__list-item {
    margin-bottom: 30px;

    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 0;
      flex: 1 1 45%;
    }

    @media screen and (min-width: $breakpoint-lg) {
      flex: 1 1 27%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-link-svg {
    display: inline-block;
    padding: 14px;
    background: $basic-white;
    border-radius: 24px;
    margin-bottom: 30px;

    --last {
      padding: 0;
    }
  }

  &__list-svg {
    width: 64px;
    height: 64px;
  }

  &__list-link {
    display: block;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    color: $regular-color;
    margin-bottom: 15px;

    &:hover {
      color: $accent-color;
    }
  }

  &__list-text {
    color: $basic-white;
    line-height: 26px;
  }
}
