.team {
  padding: 30px 0 60px;

  &__title {
    @include subtitle(transparent);
    @include main-gradient-text($gradient-red-text);
    margin-bottom: 30px;
  }

  &__workers {
    text-align: center;
  }

  &__worker {
  }

  &__worker-pic {
    width: 315px;
    margin: 0 auto;
    border-radius: $radius-md;
    overflow: hidden;
  }

  &__inner-footer-name {
  }

  &__inner-footer-job {
  }
}







.name--dark {
  color: $main-color;
}